{% extends "layouts/base.html" %}

{% block title %} Blank Page {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="content-wrapper">
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title text-primary">Underline</h4>
                <p class="card-description"> Wrap in <code>&lt;u&gt;</code> tag for underline </p>
                <p>
                  <u>lorem ipsum dolor sit amet, consectetur mod tempor incididunt ut labore et dolore magna aliqua.</u>
                </p>
              </div>
              <div class="card-body">
                <h4 class="card-title text-danger">Lowercase</h4>
                <p class="card-description"> Use class <code>.text-lowercase</code>
                </p>
                <p class="text-lowercase"> lorem ipsum dolor sit amet, consectetur mod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
              <div class="card-body">
                <h4 class="card-title text-warning">Uppercase</h4>
                <p class="card-description"> Use class <code>.text-uppercase</code>
                </p>
                <p class="text-uppercase"> lorem ipsum dolor sit amet, consectetur mod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Mute</h4>
                <p class="card-description"> Use class <code>.text-muted</code>
                </p>
                <p class="text-muted"> lorem ipsum dolor sit amet, consectetur mod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
              <div class="card-body">
                <h4 class="card-title text-success">Strike</h4>
                <p class="card-description"> Wrap content in <code>&lt;del&gt;</code> tag </p>
                <p>
                  <del> lorem ipsum dolor sit amet, consectetur mod tempor incididunt ut labore et dolore magna aliqua. </del>
                </p>
              </div>
              <div class="card-body">
                <h4 class="card-title text-info">Capitalized</h4>
                <p class="card-description"> Use class <code>.text-capitalize</code>
                </p>
                <p class="text-capitalize"> lorem ipsum dolor sit amet, consectetur mod tempor incididunt ut labore et dolore magna aliqua. </p>
              </div>
            </div>
          </div>
        <!-- <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Router </h4>
                <p>
                    
                

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et nibh finibus, efficitur nisl vitae, dapibus nunc. Fusce imperdiet magna sed augue vehicula, eu sagittis elit dictum. Suspendisse potenti. Vestibulum ac nisl eget diam fringilla tristique eu non enim. Nullam malesuada fringilla placerat. Nullam ullamcorper risus eros, sed rutrum dui lacinia nec. Vivamus commodo libero et lobortis cursus. Quisque non lacinia sapien, at elementum nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. In faucibus, libero in imperdiet malesuada, purus velit iaculis eros, quis tincidunt ligula nunc at nisi. Suspendisse tempus in purus eu pretium. Etiam ante justo, congue sed placerat sed, pharetra quis lorem. Vestibulum convallis eget ante sed placerat. Quisque velit lectus, vulputate eget risus eu, porttitor auctor odio.

                </p>
              </div>
              </div>
              </div>



    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
            <h4 class="card-title">Router </h4>              
                <p>
                Vestibulum sit amet volutpat elit. Aenean ac venenatis massa. Curabitur pretium, augue in tincidunt luctus, felis lorem pellentesque purus, et tincidunt purus tortor ut nisi. Ut consequat ullamcorper odio a eleifend. Cras suscipit placerat sapien eu elementum. Suspendisse elementum nisl consequat ex aliquet tempus. Praesent vel orci lacinia, suscipit libero tincidunt, lacinia ipsum. In hac habitasse platea dictumst. Integer in eros mauris. Sed placerat tincidunt venenatis. Phasellus commodo faucibus aliquet. Pellentesque molestie massa nulla, quis porttitor ex dignissim ac. Maecenas auctor justo vitae ligula gravida dignissim. Vestibulum consequat eu ante sed condimentum. 
                </p>
            </div>
        </div>
        </div> -->

    </div>

{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
