{% extends "layouts/base.html" %}

{% block title %} UI Typography {% endblock %} 

<!-- Specific Plugin CSS goes HERE -->
{% block plugin_stylesheets %}{% endblock plugin_stylesheets %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Configuration Changes </h3>
    </div>
    <div class="row">
     
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Current Configuration</h4>
        
          </div>
          <div class="card-body">
            <blockquote class="blockquote blockquote-primary">
              <p>  </p>
              <p> {{config|safe}} </p>
              <p>  </p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Config Difference</h4> </div>
            <div class="card-body">
              <blockquote class="blockquote blockquote-primary">
                <p>  </p>
                <p class="text-success"> {{diff|safe}} </p>
                <p> </p>
              </blockquote>
            </div>
      </div>
    </div>
    <div class="col text-center">
      <form>
      <a href=# id=test><button type="button" class="btn btn-success btn-fw">Push Differences</button></a>
    </form>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
    $(function() {
      $('a#test').on('click', function(e) {
        e.preventDefault()
        alert("Great! Your changes have been pushed.");

        $.getJSON('/{{router}}/bgtest',
            function() {
          //do nothing
        });
        return false;
      });
    });
</script>
{% endblock content %}

<!-- Specific Plugin JS goes HERE  -->
{% block plugin_javascripts %}{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}


