hostname {{ item.hostname }}

username {{ item.username }} privilege {{ item.user_priv }} password {{ item.password }}


{% for int in item.interfaces %}
interface {{ int.interface }}
 description {{ int.description }}
 ip address {{ int.v4_address}} {{ int.mask }}
 no shut
 mpls ip
{% endfor %}


router ospf 1
network {{ item.ospf_network }} {{ item.ospf_mask }} area 0
network 1.1.1.0 0.0.0.255 area 0

router bgp {{ item.AS_NUMBER }}
{% for bgp in item.bgp_neighbors %}
neighbor {{ bgp.neighbor }} remote-as {{ bgp.remote_as }}
neighbor {{ bgp.neighbor }} update-source loopback0
{% endfor %}


mpls ip
mpls label protocol ldp
ip cef
ip scp server enable
snmp-server host 198.51.100.2 version 2c
snmp-server community public rw
snmp-server enable traps

line vty 0 4
transport input ssh
login local
