hostname {{ item.hostname }}

username {{ item.username }} privilage {{ item.user_priv }} password {{ item.password }}

{% for int in item.interfaces %}
interface {{ int.interface }}
 description {{ int.description }}
 ip address {{ int.v4_address}} {{ int.mask }}
 no shut
{% endfor %}




router ospf 1
network {{ item.ospf_network }} {{ item.ospf_mask }}

router bgp {{ item.AS_NUMBER }}
{% for bgp in item.bgp_neighbors %}
neighbor {{ bgp.neighbor }} {{ bgp.remote_as }}
{% endfor %}

mpls ip
ip cef

line vty 0 4
transport input ssh
login local
